body {
  margin: 0;
}
* {
  /* border: 2px solid orange; */
}
.logo,
img {
  width: 200px;
  height: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 5px 35px 5px 35px; */
  align-items: center;
  /* background-color: aqua; */
}
.hero-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 28px;
  color: #efe7eb;
}
.left-sec,
.right-sec {
  width: 500px;
  height: auto;
}
.pressup {
  width: 500px;
}

.nav-hero-container {
  padding: 10px 100px 10px 100px;
  background-color: #1f2937;
  color: #fff;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 16px;
}
.nav-btn {
  padding: 10px 28px 10px 28px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #3882f6;
  color: #fff;
}

/* container */
.services-offered {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  padding-top: 36px;
  font-weight: bold;
}
.container {
  padding: 45px 16px 56px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: first baseline;
  gap: 8px;
}

.img-service {
  width: 250px;
  height: auto;
  border-radius: 10px;
}
.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #1f2937;
  border-radius: 10px;
}
.container-qoute{
display: flex;
justify-content: center;
background-color: #d4cacf;
}
.qoute {
  
  font-size: 36px;
  font-style: italic;
  padding: 35px;
  width: 600px;
}

.cta-container{
  height: 300px;
  background-color: #b4b7bd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-wrapper{
  width: 800px;
  /* height: 200px; */
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.cta-box{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  color: #fff;
  gap: 8px;
  width: 550px;
}
.cta-btn{
  padding: 10px 28px 10px 28px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #01050c;
  color: #fff;
}
.cta-text{
  width:auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  gap: 8px;
}
.cta-big{
font-size: 30px;
display: inline;
}
.cta-small{
font-size: 20px;
}
/* footer section */
.footer {
  padding: 50px;
  text-align: center;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
}
